<div>
  <link href="./card.css" rel="stylesheet" />
  <div class="card-card card">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
      class="card-image"
    />
    <div class="card-header">
      <img
        alt="image"
        src="/playground_assets/statue-of-liberty_1f5fd-200h.png"
        class="card-icon"
      />
      <h3 class="card-heading"><span>High-impact business services</span></h3>
    </div>
    <p class="card-text">
      <span>
        With OpenDeli, drivers can advocate for their rights at the local level.
        Local governments can also use our powerful software. Using OpenDeli,
        they can provide drivers with free services and ensure they receive fair
        pay.
      </span>
    </p>
    <p class="card-text1">
      <span>
        OpenDeli gives drivers more freedom. Our decentralized, open-source
        software enables local businesses to cooperate in their best interests.
        What's more, our powerful system enables groups of drivers to become
        co-owners with companies, cooperatives and non-profit organizations.
        With OpenDeli, drivers can advocate for their rights at the local level.
        Local governments can also use our powerful software. Using OpenDeli,
        they can provide drivers with free services and ensure they receive fair
        pay.
      </span>
    </p>
  </div>
</div>
