<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <div class="footer-content">
        <div class="footer-contact-list">
          <div class="footer-contact">
            <img
              alt="image"
              src="/playground_assets/githublogo.svg"
              class="footer-image"
            />
            <span class="footer-text"><span>Start a discussion</span></span>
          </div>
          <div class="footer-contact1">
            <img
              alt="image"
              src="/playground_assets/discordlogo.svg"
              class="footer-image1"
            />
            <span class="footer-text01">
              <span>Join our Discord community</span>
            </span>
          </div>
        </div>
        <div class="footer-contact-list1">
          <div class="footer-contact2">
            <img
              alt="image"
              src="/playground_assets/open-source-black.svg"
              class="footer-image2"
            />
          </div>
          <div class="footer-contact3">
            <img
              alt="image"
              src="/playground_assets/non-prodit-black.svg"
              class="footer-image3"
            />
          </div>
          <div class="footer-contact4">
            <img
              alt="image"
              src="/playground_assets/carbon-neutral-logo-dark.svg"
              class="footer-image4"
            />
          </div>
        </div>
      </div>
      <div class="footer-container">
        <div class="branding-branding branding-root-class-name">
          <img
            alt="image"
            src="public/playground_assets/open-deli-200h.png"
            loading="lazy"
            class="branding-image"
          />
        </div>
        <span class="footer-copyright"><span>Open Deli Foundation.</span></span>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <span class="link"><span>About</span></span>
        <span class="link"><span>Contribute</span></span>
        <span class="link"><span>Releases</span></span>
        <span class="link"><span>Changelog</span></span>
        <span class="link"><span>Mastodon</span></span>
        <span class="link"><span>Contact</span></span>
      </div>
      <div class="footer-column1">
        <span class="link"><span>Linkedin</span></span>
        <span class="link"><span>Instagram</span></span>
        <span class="link"><span>Twitter</span></span>
        <span class="link"><span>Facebook</span></span>
      </div>
    </div>
  </footer>
</div>
